
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Admin/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Admin/js/jquery.min.js"></script>
   
</head>
<body>
    <div id="app">
        <div class="layui-card-body"></div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <form class="layui-form layui-col-space5">
                                <div class="layui-input-inline layui-show-xs-block">
                                    <input class="layui-input" requiredtype="text" placeholder="用户名" v-model="name" value="" />
                                </div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <button type="button" class="layui-btn" v-on:click="search" ><i class="layui-icon layui-icon-search"></i></button>
                                </div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <button id="BtnAdd" v-on:click="Add" type="button" class="layui-btn"><i class="layui-icon">&#xe608;</i>添加</button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-body">
                                <table class="layui-table">
                                    <tr>
                                        <td>姓名</td>
                                        <td>性别</td>
                                        <td>身份证号</td>
                                        <td>地址</td>
                                        <td>手机号</td>
                                        <td>邮箱</td>
                                        <td>操作</td>
                                    </tr>
                                    <tr :key="item.AutoID" v-for="(item,index) in userList">
                                        <td>{{item.UserName}}</td>
                                        <td>{{item.UserSex == 0 ? '男' : '女' }}</td>
                                        <td>{{item.IdentityNumber}}</td>
                                        <td>{{item.ContactAddress}}</td>
                                        <td>{{item.ContactPhone}}</td>
                                        <td>{{item.Email}}</td>
                                        <td>
                                            <button v-on:click="Edit(item.AutoID)" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon">&#xe642;</i></button>
                                            <button v-on:click="Delete(item.AutoID)" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon">&#xe640;</i></button>
                                        </td>
                                    </tr>
                                </table>
                                <!--分页容器-->
                                <div class="layui-card-body">
                                    <div id="pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="~/Admin/lib/layui/layui.all.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Admin/lib/layui/axios.min.js"></script>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                userList: '',
                total: -1,
                pageIndex: 1,
                pageSize: 8,
                name: ''
            },
            mounted() {
                this.Init();
            },
            methods: {
                Init() {
                    var _this = this;
                    axios.post('/UserInfo/GetUser', {
                        pageIndex: _this.pageIndex,
                        pageSize: _this.pageSize
                    })
                        .then(function (response) {
                            if (response.data.data.length > 0) {
                                console.log(response.data);
                                _this.total = response.data.total;
                                _this.userList = response.data.data;
                                if (_this.pageIndex == 1) {
                                    loadPage();
                                }
                            }
                        }).catch(function (error) {
                            console.log(error);
                        });
                },
                //添加
                Add: function () {
                    layer.open({
                        title: '添加',
                        type: 2,
                        area: ['800px', '500px'],
                        fixed: false, //不固定
                        maxmin: true,
                        content: ['/UserInfo/Add'],
                        end: function () {
                            location.reload();
                        }
                    });
                },
                //修改
                Edit: function (id) {
                    layer.open({
                        title: '修改',
                        type: 2,
                        area: ['800px', '500px'],
                        fixed: false, //不固定
                        maxmin: true,
                        content: ['/UserInfo/Edit?id=' + id],
                        end: function () {
                            location.reload();
                        }
                    });
                },
                //删除
                Delete: function (id) {
                    layer.confirm("确认要删除吗，删除后不能恢复", { title: "删除确认" }, function (index) {
                        axios.post('/UserInfo/Del', {
                            id: id
                        })
                            .then(function (response) {
                                 console.log(response.data);
                                if (response.data.msg == 'Ok') {
                                    layer.close(index);
                                    layer.msg("<a style='color: black'>已删除</a>", { icon: 6 });
                                    app.Init();
                                }
                                else { layer.msg("<a style='color: black'>删除失败</a>", { icon: 5 }); }
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                        // layer.msg("<a style='color: black'>删除失败</a>", { icon: 5 });
                    })
                },
                //搜索
                search: function () {
                    var name = this.name;
                    if (name == null || name == "") {
                        this.Init();
                    }
                    else {
                        this.userList = this.userList.filter(m => m.UserName.includes(name));
                        this.total = this.userList.filter(m => m.UserName.includes(name)).length;
                    }
                }
            }
        });
        //使用layui分页
        function loadPage() {
            layui.use(['laypage'], function () {
                var laypage = layui.laypage;
                laypage.render({
                    elem: 'pagination',
                    count: app.total,  //数据总量
                    limit: app.pageSize, //设置条数可以选择显示多少条 'limit', 'refresh',
                    layout: ['count', 'prev', 'page', 'next', 'skip'],
                    jump: function (obj, first) {
                        //点击非第一页页码时的处理逻辑。比如这里调用了ajax方法，异步获取分页数据
                        // console.log(obj);
                        //console.log(first);
                        if (!first) {
                            app.pageIndex = obj.curr;
                            app.Init();
                        }
                    }
                });
            });
        }
    </script>
</body>
</html>
