
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Admin/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Admin/js/jquery.min.js"></script>
    
</head>
<body>
    <div id="app">
        <div class="layui-card-body"></div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <form class="layui-form layui-col-space5">
                                <div class="layui-input-inline layui-show-xs-block">
                                    <button id="BtnAdd" v-on:click="Add" type="button" class="layui-btn"><i class="layui-icon">&#xe608;</i>添加</button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-body">
                                <table class="layui-table">
                                    <tr>
                                        <td>金额</td>
                                        <td>支入/支出</td>
                                        <td>备注</td>
                                        <td>操作</td>

                                    </tr>
                                    <tr :key="item.AutoID" v-for="(item,index) in userList">
                                        <td>{{item.Price}}</td>
                                        <td>{{item.FinType == 0 ? '支入' : '支出' }}</td>
                                        <td>{{item.Remark}}</td>
                                        <td>
                                            <button v-on:click="Delete(item.AutoID)" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon">&#xe640;</i></button>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="~/Admin/lib/layui/layui.all.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Admin/lib/layui/axios.min.js"></script>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                userList: ''
            },
            mounted() {
                this.Init();
            },
            methods: {
                Init() {
                    var _this = this;
                    axios.post('/Financial/GetFinancial', {
                    })
                        .then(function (response) {
                            if (response.data.data.length > 0) {
                                console.log(response.data);

                                _this.userList = response.data.data;
                            }
                        }).catch(function (error) {
                            console.log(error);
                        });
                },
                //添加
                Add: function () {
                    layer.open({
                        title: '添加',
                        type: 2,
                        area: ['800px', '500px'],
                        fixed: false, //不固定
                        maxmin: true,
                        content: ['/Financial/Add'],
                        end: function () {
                            location.reload();
                        }
                    });
                },
                //删除
                Delete: function (id) {
                    layer.confirm("确认要删除吗，删除后不能恢复", { title: "删除确认" }, function (index) {
                        axios.post('/Financial/Del', {
                            id: id
                        })
                            .then(function (response) {
                                console.log(response.data);
                                if (response.data.msg == 'Ok') {
                                    layer.close(index);
                                    layer.msg("<a style='color: black'>已删除</a>", { icon: 6 });
                                    app.Init();
                                }
                                else { layer.msg("<a style='color: black'>删除失败</a>", { icon: 5 }); }
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                        // layer.msg("<a style='color: black'>删除失败</a>", { icon: 5 });
                    })
                }


            }
        });

    </script>
</body>
</html>
